@use "_variables.scss" as *;
@use "normalize.scss";

#app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.search {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  font-weight: 400;
  font-size: 20px;
  input {
    width: 100%;
  }



  background-color: $background;
  width: 550px;
  height: 2.8rem;
  border-radius: $border;  
  ::placeholder {
    font-weight: 300;
    color: $background-dark;
  }

  button {
    height: 100%;
    // border-radius: 0 0.5rem 0.5rem 0;
    font-weight: 400;
    align-self: flex-end;
    box-shadow: none;
  }
}

nav {
  display: flex;
  flex-direction: row;

  .label-item {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
  }
}

.container-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  // align-items: flex-start;
}

a {
  display: flex;
  align-items: center;
  height: 100%;
}

h1 {
  font-size: 32px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  margin: 15px 0;
}

input[type="number"] {
  -webkit-appearance: none; /* Убирает стандартный вид в WebKit-браузерах */
  -moz-appearance: textfield; /* Убирает стрелки в Firefox */
  appearance: none; /* Убирает стандартный вид в современных браузерах */
}

/* Скрываем кнопки в WebKit-браузерах (Chrome, Safari) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@function contrast-color($background-color, $threshold: 0.5) {
  $luminance: ((red($background-color) * 0.299) + 
               (green($background-color) * 0.587) + 
               (blue($background-color) * 0.114)) / 255;
  @if $luminance > $threshold {
    @return #333333;
  } @else {
    @return #ffffff;
  }
}

@each $name, $color in $colors {
  .btn-#{$name} {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    color: contrast-color($color);
    background-color: #{$color};
    padding: 15px 20px;
    border-radius: $border;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
    box-shadow: $shadow;
  }
}

.line {
  background-color: $background;
  color: $background-dark;
  border: 1px solid $text-info-light;
  font-weight: 400;
  box-shadow: none;
}

.no-line {
  border: none;
  background-color: $background;
  box-shadow: none;
  padding: 10px;
}

@each $name, $color in $colors {
  @for $size from 10 through 55 { // Диапазон размеров (например, от 1 до 100 px)
    @for $stroke from 0 through 3 { // Диапазон толщин линии
      .icon-#{$name}-#{$size}-#{$stroke} {
        width: #{$size}px;
        height: #{$size}px;
        stroke: $color !important;
        stroke-width: #{$stroke} !important;
        fill: none !important; // Для SVG, чтобы заливка была прозрачной
      }
    }
  }
}

.loading-container,
.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; // Полная высота экрана
  font-size: 24px;
  color: $text-info; // Пример использования переменной из SCSS
}