@use "_variables.scss" as *;
@use "normalize.scss";
@use "cards.scss";
@use "form.scss";

#app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.search {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  font-weight: 400;
  font-size: 20px;
  input {
    width: 100%;
  }

  background-color: $background;
  width: 550px;
  height: 2.8rem;
  border-radius: $border;  
  ::placeholder {
    font-weight: 300;
    color: $background-dark;
  }

  button {
    height: 100%;
    // border-radius: 0 0.5rem 0.5rem 0;
    font-weight: 400;
    align-self: flex-end;
    box-shadow: none;
  }
}

nav {
  display: flex;
  flex-direction: row;
  height: 100%;


  .label-item {
    display: flex;
    align-items: center;
    padding: 0 1rem;
  }
}

.container-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  // align-items: flex-start;
}

a {
  display: flex;
  align-items: center;
  height: 100%;
}

h1 {
  font-size: 32px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  margin: 15px 0;
}

input[type="number"] {
  -webkit-appearance: none; /* Убирает стандартный вид в WebKit-браузерах */
  -moz-appearance: textfield; /* Убирает стрелки в Firefox */
  appearance: none; /* Убирает стандартный вид в современных браузерах */
}

/* Скрываем кнопки в WebKit-браузерах (Chrome, Safari) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@function contrast-color($background-color, $threshold: 0.5) {
  $luminance: ((red($background-color) * 0.299) + 
               (green($background-color) * 0.587) + 
               (blue($background-color) * 0.114)) / 255;
  @if $luminance > $threshold {
    @return #333333;
  } @else {
    @return #ffffff;
  }
}

@each $name, $color in $colors {
  .btn-#{$name} {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    color: contrast-color($color);
    background-color: #{$color};
    padding: 15px 20px;
    border-radius: $border;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
    box-shadow: $shadow;
    transition: .2s ease;

    
    &:hover {
      box-shadow: 0px 0px 0px 5px fade-out($color, .6);
    }
  }
}

.btn-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 0 ;
}

.btn-small {
  font-weight: 400;
  color: $text-info-light;
}

.line {
  background-color: $background;
  color: $background-dark;
  border: 1px solid $text-info-light;
  font-weight: 400;
  box-shadow: none;
}

.no-line {
  border: none;
  background-color: $background;
  box-shadow: none;
  padding: 10px;
}

.preview {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  height: 500px;
  img {
    box-shadow: $shadow;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: $border;
  }
}

@each $name, $color in $colors {
  @for $size from 10 through 100 { // Диапазон размеров (например, от 1 до 100 px)
    @for $stroke from 0 through 3 { // Диапазон толщин линии
      .icon-#{$name}-#{$size}-#{$stroke} {
        width: #{$size}px;
        height: #{$size}px;
        stroke: $color !important;
        stroke-width: #{$stroke} !important;
        fill: none !important; // Для SVG, чтобы заливка была прозрачной
      }
    }
  }
}

//Формы
.input-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  border-radius: $border;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid $text-info-light;
  width: 100%;

  &::placeholder {
    font-weight: 300;
  }

  &.invalid {
    border: 2px solid $error;
  }

  &.valid {
    border: 2px solid $accent-color-1;
  }
}

.link {
  color: $accent-color-2;
  text-decoration: underline;
  cursor: pointer;
}

.invalid-feedback {
  font-size: 16px;
  color: $error;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  gap: 15px 30px ;
  &.start {
    justify-content: flex-start;
  }

  &.end {
    justify-content: flex-end;
  }
}

body {
  transition: all 0.3s ease-in-out;
}

//Контент сетка
.content-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(min-content, auto); // Динамическая высота строк
  gap: 1.5rem;
  width: 100%;
  max-width: 75rem;
  height: auto;
  padding: 1rem 0;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.skeleton-card {
  width: 100%;
  height: 100%;
  height: clamp(10rem, 25vw, 17.5rem);
  background: $light;
  border-radius: $border;
  animation: pulse 1.5s infinite;
  height: 300px;
}

@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.logo {
  width: 57px;
  height: 64px;
}